{% set marginTop = block.marginTop.value %}
{% set marginBot = block.marginBot.value %}
{% set blockId   = block.blockId %}
{% set id        = blockId ?: 'block-' ~ blockHandle ~ '-' ~ blockIndex %}
{% set bgColor   = block.backgroundColor %}

{% set image = block.image.one() %}
{% set price = block.price | money %}
{% set text  = block.redactor %}

<section id="{{ id }}" class="block {{ blockHandle }}">
    <div class="container">
        <div class="title">
            <h1>{{ entry.title }}</h1>
            <div class="price">
                <span>{{ price }}</span>
            </div>
        </div>
        <div class="content">
            <div class="image">
                <img src="{{ image.url }}" alt=""></img>
            </div>
            <div class="text">
                {{ text }}    
            </div>
        </div>
    </div>

    <style>
        {% if bgColor %}
            #{{ id }} {
                background-color: {{ bgColor }};
            }
            {% if marginTop != 'default' %}
                #{{ id }} {
                    padding-top: {{ marginData[marginTop] }};
                }
            {% endif %}
            {% if marginBot != 'default' %}
                #{{ id }} {
                    padding-bottom: {{ marginData[marginBot] }};
                }
            {% endif %}
        {% else %}
            {% if marginTop != 'default' %}
                #{{ id }} {
                    margin-top: {{ marginData[marginTop] }};
                }
            {% endif %}
            {% if marginBot != 'default' %}
                #{{ id }} {
                    margin-bottom: {{ marginData[marginBot] }};
                }
            {% endif %}
        {% endif %}
    </style>
</section>